@page "/login"

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<EditForm>
    <div class="mb-3">
        <label>Email</label>
        <InputText class="form-control" type="email"/>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <InputText class="form-control" type="password" />
    </div>
    <button type="submit">Login</button>
</EditForm>

@code {

}
